{
    "openapi": "3.0.0",
    "info": {
        "title": "Kanbanize API v2",
        "contact": {
            "name": "Support",
            "url": "https:\/\/kanbanize.com\/customer-support\/",
            "email": "support@kanbanize.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https:\/\/www.apache.org\/licenses\/LICENSE-2.0"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https:\/\/demo.kanbanize.com\/api\/v2"
        }
    ],
    "tags": [
        {
            "name": "Workspaces"
        },
        {
            "name": "Workspace Managers"
        },
        {
            "name": "Workspace History"
        },
        {
            "name": "Boards"
        },
        {
            "name": "Board Settings"
        },
        {
            "name": "Board Structure"
        },
        {
            "name": "Board Structure Revisions"
        },
        {
            "name": "Board History"
        },
        {
            "name": "Workflows"
        },
        {
            "name": "Lanes"
        },
        {
            "name": "Columns"
        },
        {
            "name": "Cell Limits"
        },
        {
            "name": "Merged Areas"
        },
        {
            "name": "Lane Section Limits"
        },
        {
            "name": "Board Assignees"
        },
        {
            "name": "Board Block Reasons"
        },
        {
            "name": "Board Discard Reasons"
        },
        {
            "name": "Board Stickers"
        },
        {
            "name": "Board Tags"
        },
        {
            "name": "Board Card Templates"
        },
        {
            "name": "Board Card Types"
        },
        {
            "name": "Board Custom Fields"
        },
        {
            "name": "Board Custom Field Allowed Values"
        },
        {
            "name": "Board Custom Field Default Contributors"
        },
        {
            "name": "Board Visible Standard Fields"
        },
        {
            "name": "Board Teams"
        },
        {
            "name": "Board Child and Parent Cards"
        },
        {
            "name": "Dashboard Pages"
        },
        {
            "name": "Dashboard Page Teams"
        },
        {
            "name": "Dashboard Page Users"
        },
        {
            "name": "Dashboard Page Workspaces"
        },
        {
            "name": "Me"
        },
        {
            "name": "My Dashboard Pages"
        },
        {
            "name": "My Dashboard Page Settings"
        },
        {
            "name": "My Dashboard Page Widgets"
        },
        {
            "name": "My Dashboard Page Workspaces"
        },
        {
            "name": "Related Workflows"
        },
        {
            "name": "Managed Workspaces"
        },
        {
            "name": "Users"
        },
        {
            "name": "User Activity"
        },
        {
            "name": "User Boards"
        },
        {
            "name": "User History"
        },
        {
            "name": "User Involved Business Rules"
        },
        {
            "name": "User Teams"
        },
        {
            "name": "My Api Key Generate"
        },
        {
            "name": "Global User Privileges"
        },
        {
            "name": "Roles"
        },
        {
            "name": "Role Permissions"
        },
        {
            "name": "Block Reasons"
        },
        {
            "name": "Block Reason Boards"
        },
        {
            "name": "Block Reason Cards"
        },
        {
            "name": "Block Reason History"
        },
        {
            "name": "Discard Reasons"
        },
        {
            "name": "Discard Reason Boards"
        },
        {
            "name": "Discard Reason Cards"
        },
        {
            "name": "Discard Reason History"
        },
        {
            "name": "Stickers"
        },
        {
            "name": "Sticker Boards"
        },
        {
            "name": "Sticker Cards"
        },
        {
            "name": "Sticker History"
        },
        {
            "name": "Tags"
        },
        {
            "name": "Tag Boards"
        },
        {
            "name": "Tag Cards"
        },
        {
            "name": "Tag History"
        },
        {
            "name": "Custom Fields"
        },
        {
            "name": "Custom Field Allowed Values"
        },
        {
            "name": "Custom Field Boards"
        },
        {
            "name": "Custom Field Cards"
        },
        {
            "name": "Custom Field History"
        },
        {
            "name": "Teams"
        },
        {
            "name": "Team Boards"
        },
        {
            "name": "Team Users"
        },
        {
            "name": "Team Managers"
        },
        {
            "name": "Team History"
        },
        {
            "name": "Cards"
        },
        {
            "name": "Cards Create Many"
        },
        {
            "name": "Cards Update Many"
        },
        {
            "name": "Cards Delete Many"
        },
        {
            "name": "Card Attachments"
        },
        {
            "name": "Card Co Owners"
        },
        {
            "name": "Card Comments"
        },
        {
            "name": "Card Comment Attachments"
        },
        {
            "name": "Card Outcomes"
        },
        {
            "name": "Card Outcome Checkpoints"
        },
        {
            "name": "Card Outcome Current Value"
        },
        {
            "name": "Card Outcome Values"
        },
        {
            "name": "Card Subtasks"
        },
        {
            "name": "Card Subtask Attachments"
        },
        {
            "name": "Card Watched"
        },
        {
            "name": "Card Watchers"
        },
        {
            "name": "Card Templates"
        },
        {
            "name": "Card Template Cards"
        },
        {
            "name": "Card Template Card Attachments"
        },
        {
            "name": "Card Template Card Child Cards"
        },
        {
            "name": "Card Template Card Co Owners"
        },
        {
            "name": "Card Template Card Custom Fields"
        },
        {
            "name": "Card Template Card Custom Field Selected Values"
        },
        {
            "name": "Card Template Card Custom Field Files"
        },
        {
            "name": "Card Template Card Custom Field Contributors"
        },
        {
            "name": "Card Template Card Parent Cards"
        },
        {
            "name": "Card Template Card Predecessor Cards"
        },
        {
            "name": "Card Template Card Relative Cards"
        },
        {
            "name": "Card Template Card Stickers"
        },
        {
            "name": "Card Template Card Subtasks"
        },
        {
            "name": "Card Template Card Subtask Attachments"
        },
        {
            "name": "Card Template Card Successor Cards"
        },
        {
            "name": "Card Template Card Tags"
        },
        {
            "name": "Card Template Card Watchers"
        },
        {
            "name": "Card Template History"
        },
        {
            "name": "Card Types"
        },
        {
            "name": "Card Type Boards"
        },
        {
            "name": "Card Type Cards"
        },
        {
            "name": "Card Type History"
        },
        {
            "name": "Card Block Reason"
        },
        {
            "name": "Card Stickers"
        },
        {
            "name": "Card Tags"
        },
        {
            "name": "Card Custom Fields"
        },
        {
            "name": "Card Custom Field Selected Values"
        },
        {
            "name": "Card Custom Field Files"
        },
        {
            "name": "Card Custom Field Contributors"
        },
        {
            "name": "Card Custom Field Votes"
        },
        {
            "name": "Card Custom Field Selected Cards"
        },
        {
            "name": "Card Revisions"
        },
        {
            "name": "Linked Cards"
        },
        {
            "name": "Child and Parent Cards"
        },
        {
            "name": "Child Cards"
        },
        {
            "name": "Parent Cards"
        },
        {
            "name": "Relative Cards"
        },
        {
            "name": "Predecessor Cards"
        },
        {
            "name": "Successor Cards"
        },
        {
            "name": "Archived Card Versions"
        },
        {
            "name": "Logged Time"
        },
        {
            "name": "Logged Time History"
        },
        {
            "name": "Webhooks"
        },
        {
            "name": "Webhook History"
        },
        {
            "name": "Check SPF Record"
        },
        {
            "name": "My Favorite Boards"
        },
        {
            "name": "My App Settings"
        },
        {
            "name": "My Board Settings"
        },
        {
            "name": "My Boards Settings"
        },
        {
            "name": "Company Settings"
        },
        {
            "name": "Company Plans"
        },
        {
            "name": "Company Plan Trials"
        },
        {
            "name": "Company Addons"
        },
        {
            "name": "Company Addon Trials"
        },
        {
            "name": "Business Rule Execution History"
        },
        {
            "name": "Email Integration Errors"
        },
        {
            "name": "Email Integration History"
        },
        {
            "name": "Api Request History"
        },
        {
            "name": "Old Api Request History"
        },
        {
            "name": "Api Limits"
        },
        {
            "name": "Old Api Limits"
        },
        {
            "name": "Exports"
        }
    ],
    "paths": {
        "\/workspaces": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Get a list of workspaces",
                "description": "Get a list of workspaces matching some optional criteria.",
                "operationId": "getWorkspaces",
                "parameters": [
                    {
                        "name": "workspace_ids",
                        "in": "query",
                        "description": "A list of the workspace ids that you want to get.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "When set to 1 you will only get team workspaces. When set to 2 you will only get management workspaces.",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                1,
                                2
                            ]
                        }
                    },
                    {
                        "name": "is_archived",
                        "in": "query",
                        "description": "When set to 0 you will only get non-archived workspaces. When set to 1 you will only get archived workspaces.",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "if_workspace_manager",
                        "in": "query",
                        "description": "When set to 1 you will only get workspaces for which you are a workspace manager.",
                        "required": false,
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "if_assigned_to_boards",
                        "in": "query",
                        "description": "When set to 1 you will only get workspaces in which you are assigned to at least one board.",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "board_filter_is_archived",
                        "in": "query",
                        "description": "When set to 0 or 1 and the optional expand parameter includes boards, you will only get non archived \/ archived boards respectively.",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "board_filter_if_assigned",
                        "in": "query",
                        "description": "When set to 1 and the optional expand parameter includes boards, you will only get boards you are assigned to.",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "A list of fields that you want in the response. The allowed fields are: workspace_id, is_archived and name.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "workspace_id",
                                    "type",
                                    "is_archived",
                                    "name"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "A list of properties for which you want to get additional details. The only allowed property at the moment is boards optionally followed by a list of fields inside square brackets. For boards the allowed fields are board_id, is_archived and name.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "description": "A list of workspaces.",
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "workspace_id": {
                                                                "description": "Workspace id.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#\/components\/schemas\/Workspace"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Create a workspace",
                "description": "Create a new workspace.",
                "operationId": "createWorkspace",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "description": "Workspace data.",
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "The name of the new workspace.",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "type": {
                                        "description": "The type of the workspace: 1 - team workspace, 2 - management workspace.",
                                        "format": "int32",
                                        "type": "integer",
                                        "enum": [
                                            1,
                                            2
                                        ],
                                        "default": 1
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "workspace_id": {
                                                            "description": "Workspace id.",
                                                            "format": "int32",
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                {
                                                    "$ref": "#\/components\/schemas\/Workspace"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            }
        },
        "\/workspaces\/{workspace_id}": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Get the details of a single workspace",
                "description": "Get the details of a single workspace.",
                "operationId": "getWorkspace",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Workspace"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Update a workspace",
                "description": "Update a workspace.",
                "operationId": "updateWorkspace",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "description": "Workspace data.",
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "The name of the workspace.",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "is_archived": {
                                        "description": "Controls whether the workspace is archived or not.",
                                        "format": "int32",
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Workspace"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/workspaceIdInPath"
                }
            ]
        },
        "\/workspaces\/{workspace_id}\/managers": {
            "get": {
                "tags": [
                    "Workspace Managers"
                ],
                "summary": "Get a list of workspace managers",
                "description": "Get a list of the workspace managers for a workspace.",
                "operationId": "getWorkspaceManagers",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "description": "A list of workspace managers.",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "manager_id": {
                                                        "format": "int32",
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/workspaceIdInPath"
                }
            ]
        },
        "\/workspaces\/{workspace_id}\/managers\/{user_id}": {
            "get": {
                "tags": [
                    "Workspace Managers"
                ],
                "summary": "Check if a user is a workspace manager",
                "description": "Check if a user is a workspace manager.",
                "operationId": "checkWorkspaceManager",
                "responses": {
                    "204": {
                        "description": "The user is a workspace manager! Otherwise, you would have gotten a 404 error."
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "put": {
                "tags": [
                    "Workspace Managers"
                ],
                "summary": "Make a user a workspace manager",
                "description": "Make a user a workspace manager.",
                "operationId": "addWorkspaceManager",
                "responses": {
                    "204": {
                        "description": "The user is now a workspace manager."
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Workspace Managers"
                ],
                "summary": "Make a user not a workspace manager",
                "description": "Make a user not a workspace manager.",
                "operationId": "removeWorkspaceManager",
                "responses": {
                    "204": {
                        "description": "The user is no longer a workspace manager."
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/workspaceIdInPath"
                },
                {
                    "$ref": "#\/components\/parameters\/userIdInPath"
                }
            ]
        },
        "\/workspaces\/history": {
            "get": {
                "tags": [
                    "Workspace History"
                ],
                "summary": "Get a list of workspace management history events.",
                "description": "Get a list of workspace management history events.",
                "operationId": "getWorkspacesHistory",
                "parameters": [
                    {
                        "name": "workspace_ids",
                        "in": "query",
                        "description": "A list of the workspace ids that you want to get the history for.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "user_ids",
                        "in": "query",
                        "description": "A list of user ids that performed an action.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "event_types",
                        "in": "query",
                        "description": "Type of action executed on the workspace.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "workspace_created",
                                    "workspace_updated",
                                    "workspace_archived",
                                    "workspace_unarchived",
                                    "board_created",
                                    "board_renamed",
                                    "board_deleted",
                                    "board_archived",
                                    "board_unarchived",
                                    "board_moved_out",
                                    "board_moved_in",
                                    "wm_added",
                                    "wm_removed",
                                    "added_to_dashboard_page",
                                    "removed_from_dashboard_page"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The first date and time for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The last date and time for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "The first date for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date",
                            "type": "string"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "The last date for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date",
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The results will always be split into pages. This parameter controls which page is returned. By default it's the first page.",
                        "required": false,
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Controls how many results are returned per page. The default value is 100 and the maximum is 200.",
                        "required": false,
                        "schema": {
                            "format": "int",
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "all_pages": {
                                                    "description": "The number of pages the result is split into.",
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "description": "The current page.",
                                                    "type": "integer"
                                                },
                                                "results_per_page": {
                                                    "description": "The number of results per page.",
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "A list of workspace management history events.",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/WorkspaceHistoryEvent"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            }
        },
        "\/boards": {
            "get": {
                "tags": [
                    "Boards"
                ],
                "summary": "Get a list of boards",
                "description": "Get a list of boards matching some optional criteria.",
                "operationId": "getBoards",
                "parameters": [
                    {
                        "name": "board_ids",
                        "in": "query",
                        "description": "A list of the board ids that you want to get.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "workspace_ids",
                        "in": "query",
                        "description": "A list of the workspace ids holding the boards that you want to get.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "is_archived",
                        "in": "query",
                        "description": "When set to 0 you will only get non-archived boards. When set to 1 you will only get archived boards.",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "if_assigned",
                        "in": "query",
                        "description": "When set to 1 you will only get boards to which you are assigned.",
                        "schema": {
                            "format": "int32",
                            "type": "integer",
                            "enum": [
                                0,
                                1
                            ]
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "A list of fields that you want in the response. The allowed fields are: board_id, workspace_id, is_archived, name and description.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "board_id",
                                    "workspace_id",
                                    "is_archived",
                                    "name",
                                    "description"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "A list of properties for which you want to get additional details. The allowed properties at the moment are: workflows, settings and structure.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "workflows",
                                    "settings",
                                    "structure"
                                ]
                            }
                        },
                        "explode": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "description": "A list of boards.",
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "board_id": {
                                                                "description": "Board id.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "$ref": "#\/components\/schemas\/Board"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "Boards"
                ],
                "summary": "Create a board",
                "description": "Create a new board.",
                "operationId": "createBoard",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "description": "Board data.",
                                "required": [
                                    "workspace_id",
                                    "name"
                                ],
                                "type": "object",
                                "properties": {
                                    "workspace_id": {
                                        "description": "The id of the workspace to hold the new board.",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "name": {
                                        "description": "The name of the new board.",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "description": {
                                        "description": "The description of the new board.",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "board_id": {
                                                            "description": "Board id.",
                                                            "format": "int32",
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                {
                                                    "$ref": "#\/components\/schemas\/Board"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            }
        },
        "\/boards\/{board_id}": {
            "get": {
                "tags": [
                    "Boards"
                ],
                "summary": "Get the details of a single board",
                "description": "Get the details of a single board.",
                "operationId": "getBoard",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Board"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Boards"
                ],
                "summary": "Update a board",
                "description": "Update a board.",
                "operationId": "updateBoard",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "description": "Board data.",
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "The name of the board.",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "description": {
                                        "description": "The description of the new board.",
                                        "type": "string"
                                    },
                                    "is_archived": {
                                        "description": "Controls whether the board is archived or not.",
                                        "format": "int32",
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Board"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Boards"
                ],
                "summary": "Delete a board",
                "description": "Delete a board.",
                "operationId": "deleteBoard",
                "responses": {
                    "204": {
                        "description": "The board has been deleted."
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/boardIdInPath"
                }
            ]
        },
        "\/boards\/{board_id}\/settings": {
            "get": {
                "tags": [
                    "Board Settings"
                ],
                "summary": "Get the values of the board settings",
                "description": "Get the values of the board settings.",
                "operationId": "getBoardSettings",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/BoardSettings"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Board Settings"
                ],
                "summary": "Set the values of the board settings",
                "description": "Set the values of the board settings.",
                "operationId": "setBoardSettings",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/BoardSettings"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/BoardSettings"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/boardIdInPath"
                }
            ]
        },
        "\/boards\/{board_id}\/currentStructure": {
            "get": {
                "tags": [
                    "Board Structure"
                ],
                "summary": "Get the current board structure",
                "description": "Get all the information necessary to draw a board: the board details, its settings, workflows, lanes, columns, merged areas and cell limits.",
                "operationId": "getCurrentBoardStructure",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/BoardStructure"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/boardIdInPath"
                }
            ]
        },
        "\/boards\/{board_id}\/currentStructure\/revision": {
            "get": {
                "tags": [
                    "Board Structure"
                ],
                "summary": "Get the current revision of the board structure",
                "description": "Get only the revision number of the current board structure.",
                "operationId": "getCurrentBoardStructureRevision",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "description": "A role id.",
                                            "type": "object",
                                            "properties": {
                                                "role_id": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/boardIdInPath"
                }
            ]
        },
        "\/boards\/{board_id}\/structureRevisions": {
            "get": {
                "tags": [
                    "Board Structure Revisions"
                ],
                "summary": "Get a list of revisions of the board structure",
                "description": "Get a list of the revisions of the board structure and the date and time they were replaced.",
                "operationId": "getBoardStructureRevisions",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "description": "A role id.",
                                            "type": "object",
                                            "properties": {
                                                "role_id": {
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "replaced_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/boardIdInPath"
                }
            ]
        },
        "\/boards\/{board_id}\/structureRevisions\/{revision}": {
            "get": {
                "tags": [
                    "Board Structure Revisions"
                ],
                "summary": "Get a specific revision of the board structure",
                "description": "Get a specific revision of the board structure.",
                "operationId": "getBoardStructureRevision",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/BoardStructure"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/boardIdInPath"
                },
                {
                    "$ref": "#\/components\/parameters\/revisionInPath"
                }
            ]
        },
        "\/boards\/history": {
            "get": {
                "tags": [
                    "Board History"
                ],
                "summary": "Get a list of board management history events.",
                "description": "Get a list of board management history events.",
                "operationId": "getBoardsHistory",
                "parameters": [
                    {
                        "name": "board_ids",
                        "in": "query",
                        "description": "A list of the board ids that you want to get the history for.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "user_ids",
                        "in": "query",
                        "description": "A list of user ids that performed an action.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "event_types",
                        "in": "query",
                        "description": "Type of action executed on the board.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "board_created",
                                    "board_updated",
                                    "board_archived",
                                    "board_unarchived",
                                    "board_moved",
                                    "workflow_created",
                                    "workflow_updated",
                                    "workflow_deleted",
                                    "workflow_disabled",
                                    "workflow_enabled",
                                    "lane_created",
                                    "lane_renamed",
                                    "lane_deleted",
                                    "lane_moved",
                                    "column_created",
                                    "column_renamed",
                                    "column_deleted",
                                    "column_moved",
                                    "cell_limits_updated",
                                    "lane_section_limits_updated",
                                    "merged_areas_updated",
                                    "related_boards_updated",
                                    "user_assigned",
                                    "user_unassigned",
                                    "user_role_changed",
                                    "discard_reason_added",
                                    "discard_reason_removed",
                                    "block_reason_added",
                                    "block_reason_removed",
                                    "sticker_added",
                                    "sticker_removed",
                                    "card_type_added",
                                    "card_type_removed",
                                    "tag_added",
                                    "tag_removed",
                                    "card_template_added",
                                    "card_template_removed",
                                    "custom_field_added",
                                    "custom_field_removed",
                                    "team_added",
                                    "team_role_changed",
                                    "team_removed",
                                    "cell_card_orderings_updated"
                                ]
                            }
                        },
                        "explode": false
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The first date and time for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The last date and time for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "The first date for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date",
                            "type": "string"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "The last date for which you want results.",
                        "required": false,
                        "schema": {
                            "format": "date",
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The results will always be split into pages. This parameter controls which page is returned. By default it's the first page.",
                        "required": false,
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Controls how many results are returned per page. The default value is 100 and the maximum is 200.",
                        "required": false,
                        "schema": {
                            "format": "int",
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "all_pages": {
                                                    "description": "The number of pages the result is split into.",
                                                    "type": "integer"
                                                },
                                                "current_page": {
                                                    "description": "The current page.",
                                                    "type": "integer"
                                                },
                                                "results_per_page": {
                                                    "description": "The number of results per page.",
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "data": {
                                            "description": "A list of board management history events.",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/BoardHistoryEvent"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            }
        },
        "\/boards\/{board_id}\/workflows": {
            "get": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Get workflow details",
                "description": "Check if board workflows exists and get their details.",
                "operationId": "getWorkflows",
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "workflow_id": {
                                                            "description": "Workflow id.",
                                                            "format": "int32",
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                {
                                                    "$ref": "#\/components\/schemas\/Workflow"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Create workflow",
                "description": "Create a new workflow",
                "operationId": "createWorkflow",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "description": "Workflow data.",
                                "type": "object",
                                "properties": {
                                    "position": {
                                        "description": "Postion of the workflow within the board.",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "is_enabled": {
                                        "description": "Controls whether the workflow is enabled.",
                                        "format": "int32",
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ],
                                        "default": 1
                                    },
                                    "is_collapsible": {
                                        "description": "Controls whether the workflow is collapsible.",
                                        "format": "int32",
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ],
                                        "default": 1
                                    },
                                    "name": {
                                        "description": "The name of the new workflow.",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 100
                                    },
                                    "type": {
                                        "description": "The type of workflow can be 0 - cards workflow, 1 - initiatives workflow or 2 - timeline.",
                                        "format": "int32",
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1,
                                            2
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "description": "A wrapper for a successful response.",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "workflow_id": {
                                                            "description": "Workflow id.",
                                                            "format": "int32",
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                {
                                                    "$ref": "#\/components\/schemas\/Workflow"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/ResponseBadRequest"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/ResponseUnauthorized"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/ResponseForbidden"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ResponseNotFound"
                    },
                    "409": {
                        "$ref": "#\/components\/responses\/ResponseConflict"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/ResponseTooManyRequests"
                    },
                    "500": {
                        "$ref": "#\/components\/responses\/ResponseInternalServerError"
                    },
                    "503": {
                        "$ref": "#\/components\/responses\/ResponseServiceUnavailable"
                    }
                }
            },
            "parameters": [
                {
[...]
